node_modules/
vendor/
artifacts/
.cache/
.phpunit.result.cache
coverage.xml
.wp-env-gutenberg
.wp-env.override.json
gutenberg/
.env

# Playwright
test-results/
playwright-report/
playwright/.cache/
tests/e2e/.auth/
