<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.2/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="sync-storage">
			<directory suffix=".php">tests/</directory>
			<exclude>tests/bootstrap.php</exclude>
			<!-- Playwright specs and their mu-plugins; including them here loads
			     a second copy of code already mapped into mu-plugins. -->
			<exclude>tests/e2e</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">lib/</directory>
			<file>sync-storage.php</file>
		</include>
	</coverage>
</phpunit>
